
extends layout

block content
    h1 Lista de Músicas
    table
        tr
            th Id
            th Título
            th Prov
        each m in musicas
            tr
                td= m.id
                td 
                    a(href="/musicas/" + m.id)= m.tit
                td= m.prov